html{font-size: 4vw;}

.whole {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style:solid;
    border-color: black;
    border-width: 0.2rem;
    width: 22.5rem;
    height: 40rem;
    margin: 2.22rem auto;
}
.header {
    display:flex;
    height: 5.93rem;
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 0.2rem solid black;
}
.menu {
    padding: 0.5rem 0;
    width: 1.67rem;
    height: 0.2rem;
    background: black;
    background-clip: content-box;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    margin: 2rem 1rem 1.67rem 1.67rem;
}
.title {
    flex:1;
    padding-top: 0.67rem;
    padding-right: 1.34rem;
    justify-content: center;
}
.form {
    height: 38.53rem;
    width: 100%;
    margin:0;
}
.message {
    height: 13.33rem;
    width: 100%;
    padding-top:3.33rem;
}
.card {
    padding: 0.6rem;
}
.input1 {
    width:90%;
    height:2.33rem;
    border:solid;
    text-align:center;
    font-size:1rem;
}
.input2 {
    float:right;
    width: 20%;
    height:2.33rem;
    border:solid;
    margin: 0.6rem 1rem;
    text-align:center;
    font-size:1rem;
}
button {
    width:88%;
    height:3.33rem;
    margin: 1rem 0;
    border:solid;
    font-size:1rem;
}