.whole {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    width: 375px;
    height: 667px;
}
.header {
    display:flex;
    height: 89px;
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 2px solid black;
}
.menu {
    padding: 7px 0;
    width: 25px;
    height: 3px;
    line-height: 100%;
    background: black;
    background-clip: content-box;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 25px 25px;
}
.arrow {
    position: absolute;
    width: 15rpx;
    height: 15rpx;
    border-top: 4rpx solid #333;
    border-right: 4rpx solid #333;
    transform:rotate(-135deg);
}
.title {
    flex:1;
    justify-content: center;
}
.form {
    height: 578px;
    width: 100%;
    margin:0;
}
.message {
    height: 200px;
    width: 100%;
    padding-top:50px;
}
.card {
    padding: 8px;
}
.input1 {
    width:90%;
    height:35px;
    border:solid;
}
.input2 {
    float:right;
    width: 20%;
    height:35px;
    border:solid;
    margin: 8px 15px;
}
button {
    width:88%;
    height:50px;
    margin: 16px 0;
    border:solid;
}