html{font-size: 4vw;}

.whole {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style:solid;
    border-color: black;
    border-width: 0.2rem;
    width: 22.5rem;
    height: 40rem;
    margin: 2.22rem auto;
}
.header {
    display:flex;
    height: 5.93rem;
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 0.2rem solid black;
}
.arrow {
    margin: 1.67rem 1.67rem;
    box-sizing: border-box;
    width: 1.67rem;
    height: 1.67rem;
    border: solid black;
    border-width: 0 0.26rem 0.26rem 0;
    transform: rotate(135deg);
}
.title {
    flex:1;
    padding-top: 0.67rem;
    padding-right: 1.34rem;
    justify-content: center;
}
.form {
    height: 38.53rem;
    width: 100%;
    margin:0;
}
.message {
    height: 13.33rem;
    width: 100%;
    padding-top:3.33rem;
}
